@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 205 100% 9%;
  --background-hsl: 0 0% 90%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: hsl(var(--foreground-hsl));
  background: hsl(var(--background-hsl));
}
